@page
@model Web.Pages.LobbyModel
@{
    ViewData["Title"] = "Lobby";
}

<h2>Lobby</h2>

<p>Welcome, @(Model.UserInfo.DisplayName). Choose a channel or create a new one!</p>

<div class="list-group">
    @foreach (var item in Model.Channels)
    {
        <a asp-page="channel" asp-route-name="@item.Name" class="list-group-item">@item.Name</a>
    }
</div>