@page
@model Web.Pages.LobbyModel
@{
    ViewData["Title"] = "Lobby";
}

<h2>Lobby</h2>

<p>Welcome, @(Model.CurrentUser.DisplayName). Why not follow these interesting people?</p>

<div class="lobby">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @foreach (var item in Model.Users)
                {
                    <li class="list-group-item">
                        <span class="text-strong">@item.DisplayName</span>
                        <span class="text-muted">@@@item.UserName</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>