@page
@model Web.Pages.MyFeedModel
@{
    ViewData["Title"] = "Feed";
}

<h2>My Feed</h2>

<ul>
    
    @foreach (var item in Model.Messages)
    {
        <li>
            <div>
                @@@item.PublisherHandle
            </div>
            <div>
                @item.Content
            </div>
        </li>
    }
</ul>