@page
@model Web.Pages.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<h2>Sign In</h2>

<div class="row">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Handle" class="control-label"></label>
                <input asp-for="Handle" class="form-control" />
                <span asp-validation-for="Handle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
        @if (User.Identity.IsAuthenticated)
        {
            <div>You are logged in as: @Model.User.Identity.Name</div>
        }
        else
        {
            <div>You are not logged in!</div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}